<footer class="footer">
  <small>
    Created 2016, by <a href="http://timpaisley.net/">Tim Paisley</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://tepapa.timpaisley.net/">Proposal</a></li>
    </ul>
  </nav>
</footer>